body {
margin:0;
background:#0b0b0b;
color:white;
font-family:Arial;
}

#scene {
width:100%;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

#house {
width:800px;
}

.interaction {
cursor:pointer;
fill:#d4af37;
}

#infoPanel {
position:fixed;
bottom:40px;
left:40px;
background:#111;
padding:20px;
border:1px solid #444;
max-width:300px;
}

.hidden {
display:none;
}